In [1]:
# if code is running on IBM Cloud Pak, uncomment
# %run AutoDataPrep.py

In [2]:
# if code is running on IBM Cloud Pak, comment out
%run AutoDataPrep.ipynb

In [3]:
import pandas as pd

In [4]:
# if code is running on IBM Cloud Pak, uncomment
# from ibm_watson_studio_lib import access_project_or_space
# wslib = access_project_or_space()
# df = pd.read_csv(wslib.mount.get_data_path('german_credit_data (1).csv'))
# df.head()

In [5]:
# if code is running on IBM Cloud Pak, comment and run
df = pd.read_csv('german_credit_data.csv')

In [6]:
pipeline = AutoDataPrep(df)
pipeline.output.head()

AutoDataPrep process completed in 3.540463 seconds
Logfile saved to: C:\Users\littl\Documents\Jupyter_Notebooks\auto-data-preprocessing-main\auto-data-shared\auto_data_prep.log

,CheckingStatus,LoanDuration,CreditHistory,LoanPurpose,LoanAmount,ExistingSavings,EmploymentDuration,InstallmentPercent,Sex,OthersOnLoan,...,CheckingStatus_greater_200,CheckingStatus_less_0,CheckingStatus_no_checking,EmploymentDuration_1_to_4,EmploymentDuration_4_to_7,EmploymentDuration_greater_7,EmploymentDuration_less_1,EmploymentDuration_unemployed,Sex_female,Sex_male
0,0_to_200,31,credits_paid_to_date,other,1889,100_to_500,less_1,3,female,none,...,0,0,0,0,0,0,1,0,1,0
1,less_0,18,credits_paid_to_date,car_new,462,less_100,1_to_4,2,female,none,...,0,1,0,1,0,0,0,0,1,0
2,less_0,15,prior_payments_delayed,furniture,250,less_100,1_to_4,2,male,none,...,0,1,0,1,0,0,0,0,0,1
3,0_to_200,28,credits_paid_to_date,retraining,3693,less_100,greater_7,3,male,none,...,0,0,0,0,0,1,0,0,0,1
4,no_checking,28,prior_payments_delayed,education,6235,500_to_1000,greater_7,3,male,none,...,0,0,1,0,0,1,0,0,0,1

In [7]:
pipeline.output.columns

Index(['CheckingStatus', 'LoanDuration', 'CreditHistory', 'LoanPurpose',
       'LoanAmount', 'ExistingSavings', 'EmploymentDuration',
       'InstallmentPercent', 'Sex', 'OthersOnLoan', 'CurrentResidenceDuration',
       'OwnsProperty', 'Age', 'InstallmentPlans', 'Housing',
       'ExistingCreditsCount', 'Job', 'Dependents', 'Telephone',
       'ForeignWorker', 'Risk', 'LoanDuration_mms', 'LoanAmount_mms',
       'InstallmentPercent_mms', 'CurrentResidenceDuration_mms', 'Age_mms',
       'ExistingCreditsCount_mms', 'Dependents_mms',
       'CreditHistory_all_credits_paid_back',
       'CreditHistory_credits_paid_to_date', 'CreditHistory_no_credits',
       'CreditHistory_outstanding_credit',
       'CreditHistory_prior_payments_delayed', 'Housing_free', 'Housing_own',
       'Housing_rent', 'Job_management_self-employed', 'Job_skilled',
       'Job_unemployed', 'Job_unskilled', 'OthersOnLoan_co-applicant',
       'OthersOnLoan_guarantor', 'OthersOnLoan_none', 'Risk_No Risk',
       'Risk_Risk', 'OwnsProperty_car_other', 'OwnsProperty_real_estate',
       'OwnsProperty_savings_insurance', 'OwnsProperty_unknown',
       'ExistingSavings_100_to_500', 'ExistingSavings_500_to_1000',
       'ExistingSavings_greater_1000', 'ExistingSavings_less_100',
       'ExistingSavings_unknown', 'InstallmentPlans_bank',
       'InstallmentPlans_none', 'InstallmentPlans_stores',
       'CheckingStatus_0_to_200', 'CheckingStatus_greater_200',
       'CheckingStatus_less_0', 'CheckingStatus_no_checking',
       'EmploymentDuration_1_to_4', 'EmploymentDuration_4_to_7',
       'EmploymentDuration_greater_7', 'EmploymentDuration_less_1',
       'EmploymentDuration_unemployed', 'Sex_female', 'Sex_male'],
      dtype='object')